<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Vaccination Center Details</title>

</head>
<body>
	<div class="container" style="text-align:center" >
		<h1 class="mt-4">Welcome to Vaccination Center</h1>
		<ul>
			<li><a href="/citizens" style="color: #007bff;">Go to
					Citizen Details</a></li>
			<li><a href="/" style="color: #dc3545;">Logout</a></li>
		</ul>
		<hr>
		<h2 class="mt-4">Vaccination Center Details</h2>
		<a th:href="@{/vaccine-centers/add}" class="btn btn-primary mb-4">Add
			Vaccination Center</a>
		<table class="table" style="text-align:center">
			<thead>
				<tr>
					<th>ID</th>
					<th>Center</th>
					<th>City</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody id="vaccineCenterTableBody">
				<!-- Loop through the vaccination centers and display their details -->
				<tr th:each="vaccineCenter : ${vaccineCenters}">
					<td th:text="${vaccineCenter.id}"></td>
					<td th:text="${vaccineCenter.center}"></td>
					<td th:text="${vaccineCenter.city}"></td>
					<td><a
						th:href="@{/vaccine-centers/{id}(id=${vaccineCenter.id})}"
						class="btn btnprimary">View</a> <a
						th:href="@{/vaccine-centers/{id}/edit(id=${vaccineCenter.id})}"
						class="btn btnsecondary">Edit</a> <a
						th:href="@{/vaccine-centers/{id}/delete(id=${vaccineCenter.id})}"
						class="btn btndanger">Delete</a></td>
				</tr>
			</tbody>
		</table>
		<h6 style="text-align: center;">
			<strong>Total </strong><strong
				th:text="${#lists.size(vaccineCenters)} "></strong><strong>
				Vaccination Center found</strong>
		</h6>
	</div>

</body>
</html>